header.header
    nav.nav.nav--tours
        a.nav__el(href='#')
    div.header__logo
        img(src='img/logo-white.png' alt='Natours LOGO')
    nav.nav.nav--user
        a.nav__el(href='#') My Bookings
        a.nav__el(href='#')
            img(src='img/user.png' alt='USER PHOTO')
            span Jonas
        button.nav__el LOGIN
        button.nav__el.nav__el--cta SIGN UP